body,
html,
* {
font-size: 10px;
box-sizing: border-box;
margin: 0;
padding: 0;
}
#column {
display:flex;
width: 90%;
flex-wrap:wrap;
align-items: center;
justify-content:space-around;
margin: 10rem auto;
}
.card {
height: 50vh;
width: 20vw;
background-color: rgb(0, 153, 255);
border-radius: 20px;
display: flex;
align-items: top;
justify-content: space-around;
flex-wrap: wrap;
margin: "10rem auto";
box-shadow: 30px 15px 15px rgb(17, 0, 255);
transition-delay: 0.2s;

}
#apple {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#apple:hover {
transform: scale(1.1);
}
#banana {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#banana:hover {
transform: rotate(4deg);
}
#orange {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#orange:hover {
transform: scale(.9);
}
#dragon {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#dragon:hover {
transform: translateY(-15px);
}
#elder {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#elder:hover {
transform: translateY(15px);
}
#fig {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#fig:hover {
transform: skew(-10deg);
}
#grape {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#grape:hover {
transform: skew(10deg);
}
#honey {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#honey:hover {
transform: translateX(10px);
}
#straw {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#straw:hover {
transform: translateX(-10px);
}
#guava {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#guava:hover {
animation-name: pulse;
animation-duration: 4s;
}
#blue {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#blue:hover {
animation-name: push;
animation-duration: 1s;
}
#mango {
font-size: 2.2rem;
margin: 0.5rem 0;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#mango:hover {
animation-name: buzz;
animation-duration: 1s;
}
@keyframes pulse {
25% {
  transform: scale(1.1);
    }
75% {
  transform: scale(0.9);
    }
  }
@keyframes push {
50% {
   transform: scale(0.8);
  }
100% {
   transform: scale(1);
  }
}
@keyframes buzz {
    10% {
      transform: translateX(3px) rotate(2deg);
    }
    20% {
      transform: translateX(-3px) rotate(-2deg);
    }
    30% {
      transform: translateX(3px) rotate(2deg);
    }
    40% {
      transform: translateX(-3px) rotate(-2deg);
    }
    50% {
      transform: translateX(2px) rotate(1deg);
    }
    60% {
      transform: translateX(-2px) rotate(-1deg);
    }
    70% {
      transform: translateX(2px) rotate(1deg);
    }
    80% {
      transform: translateX(-2px) rotate(-1deg);
    }
    90% {
      transform: translateX(1px) rotate(0);
    }
    100% {
      transform: translateX(-1px) rotate(0);
    }
  }
<<<<<<< HEAD
@media screen and (min-width: 768px){
  body {
    width: 40%;
  }
}

@media screen and (min-width: 1000px){
   body{ 
    width: 27%;
   }
}
=======
    @media screen and (max-width: 1000px) {
        .card{
            width: 40%;
        }
        
    }
    @media screen and (max-width: 813px) {
        .card {
            width: 90%;
        }
        
    }
>>>>>>> 6e93ba26f286691d6964f1ffa2d3704e217a9530
